<router-outlet>

</router-outlet>
<!-- style="background-image: url(bg1.webp); background-repeat: no-repeat;background-size: cover;" -->


<div class="container">
  <div style="background-color:rgb(37, 160, 114)">
    <p class="text-center text-white " style="font-weight: normal; font-size: 10px;line-height: 30px;">Get 25%
      off on your first
      order and the
      lowest prices.
      <span><a href="#" style="color: white;text-decoration: none;font-weight: 500;">Know More</a></span>
    </p>
  </div>

  <!-- End Header Section -->



  <!-- <div class="col-2"></div> -->

  <div class="d-flex">
    <div style="margin-left: 160px;margin-top: 10px;">
      <img src="../assets/title-logo.png" class="img-fluid" width="100">
    </div>
    <div style="margin-left: 400px;margin-top: 15px;">
      <span class="h6" style="font-size: 11px"> Sign In &nbsp;&nbsp;<button
          style="background-color: rgba(50,211,161,255);border-radius: 20px;border: 0.5px solid white; font-size: 11px;padding: 5px;width: 80px;line-height: 20px;"
          class="text-white  ">Sign
          Up</button></span>
    </div>
  </div>




  <!-- End Navbar Section -->

  <div class="containers">
    <img src="../assets/bg1.jpeg" alt="" class="img-fluid" width="100%">
    <div class="top-left">
      <p style="margin-left: -70px;font-size: 40px;font-weight: 590;">Enjoy Your</p>
      <br><b style="font-size: 40px;">
        Delicious
        Food</b>
    </div>
    <br>
    <div class="para">
      <p class="" style="margin-left: -320px;font-size: 9px;margin-top: -250px;">It is a long established
        fact that a reader
        will be
        distracted by the </p>
      <p class="" style="margin-left: -365px;font-size: 9px;line-height: 0.5em;">
        readablecontent of a page when looking at its layout</p>
    </div>
    <br>
    <div class="input-icons">
      <i class="fa-solid fa-location-dot icon"></i>
      <input class="input-field" type="text" placeholder="Enter your address">
      <button class="find-btn text-white">Find</button>
    </div>
  </div>
</div>
<!-- Upper Section End -->

<br><br><br><br><br><br><br><br>
<div class="container">
  <div class=" mid ">
    <div class="col-6 ">
      <h5 class="head5">Popular Restaurants</h5>
    </div>
    <div class="col-6">
      <div class="fa-icon">
        <i class="fa fa-thin fa-circle-arrow-left"></i>
        &nbsp;
        <i class="fa fa-thin fa-circle-arrow-right"></i>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="resturant">
    <div class="row">
      <div class="col-2  burger">
        <img src="../assets/burger.png" width="35px" height="35px" class="img-burger">
        <span class="burger-name">Burger King</span>
      </div>
      <div class="col-2  starbucks ">
        <img src="../assets/starbucks.png" width="35px" height="35px" class="img-starbucks ">
        <p class="starbucks-name">Starbucks</p>
      </div>
      <div class="col-2  starbucks ">
        <img src="../assets/kfc.png" width="35px" height="35px" class="img-starbucks ">
        <p class="starbucks-name" style="margin-top: -30px;">KFC</p>
      </div>
      <div class="col-2  burger02">
        <img src="../assets/burger.png" width="35px" height="35px" class="img-burger02">
        <span class="burger-name02">Burger King</span>
      </div>
      <!-- <br><br><br><br> -->
    </div>
  </div>

  <!-- Middle Section End -->
  <div class="">
    <div class="container02">
      <img src="../assets/bg2.jpeg" alt="" class="img-fluid">
      <div class="paragraph">
        <p class="top-right">Welcome to top foodies where</p>
        <br>
        <p class="top-right02">the food change worth the</p>
        <br>
        <p class="top-right03">seasons</p>
        <br>
        <div class="lorem-para">
          <p class="lorem-para1 ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae
          </p><br>
          <p class="lorem-para2 ">inventore Ipsum, in quia possimus nobis omnis, architecto voluptatum </p>
          <br>
          <p class="lorem-para3 "> minus delectus Pariatur est asperiores, fugiat doloribus accusamus vel </p>
          <p class="lorem-para4  "> Ut, iure labore corporis alias maxime harum dicta.</p>
          <br>
          <p class=" lorem-para5">It is a long established
            fact that a reader
            will be
            distracted by the </p>
          <p class=" lorem-para6">
            readable content of a page when looking at its layout</p>
          <br>
          <button class="clk-btn">Know More</button>
        </div>
      </div>
      <br>
      <!-- Sub-Middle Section End -->

      <footer class="footer-section">
        <div class="logo">
          <div class="logoimg">
            <img width="50px" src="../assets/logopng.png" alt="" class="img-logofoot">
          </div>
          <div class="logotext">
            <span style="font-size: 200% ;font-weight: 500;" class=" text-white">food</span>
            <p style="margin-top: -13%;font-size: 85%; " class=" text-white"><span>&nbsp;On&nbsp;the&nbsp;way</span></p>
          </div>
        </div>
        <div class="para-section01 text-muted">
          <p class="para-first-line">It is a long established
            fact</p>
          <br>
          <p class="para-second-line">that a reader
            will be</p>
          <br>
          <p class="para-third-line">
            distracted by the readable
          </p>
          <br>
          <p class="para-forth-line">
            content of a page when
          </p>
          <br>
          <p class="para-fiveth-line">
            looking at its layout
          </p>
        </div>
        <div class="para-section02 text-muted">
          <p class="second-para-first-line">
            Get Help
          </p>
          <br>
          <p class="second-para-second-line">
            Buy Gift Cards
          </p>
          <br>
          <p class="second-para-third-line">
            Add Your Restaurants
          </p>
          <br>
          <p class="second-para-fourth-line">
            Create A Business Account
          </p>
          <br>
          <p class="second-para-fivth-line">
            Save On Your First Order
          </p>
        </div>
        <div class="para-section03 text-muted">
          <p class="third-para-first-line">
            Restaurants Near Me
          </p>
          <br>
          <p class="third-para-second-line">
            View All Cities
          </p>
          <br>
          <p class="third-para-third-line">
            View All Countries
          </p>
          <br>
          <p class="third-para-fourth-line">
            Pickup Near Me
          </p>
          <br>
          <p class="third-para-fivth-line">
            About Us
          </p>
        </div>
        <br>

        <hr class="text-muted horizontal-line">
        <div>
          <p class="Copyright-para text-muted">Copyright &copy; 2022. All Rights Reserved.</p>
        </div>
        <!-- CopyRight End -->
        <div>
          <div class="fb-icon">
            <i class="fa fa-brands fa-facebook-f"></i>
          </div>
          <div class="insta-icon">

            <i class="fa-brands fa-instagram"></i>
          </div>
        </div>
      </footer>
    </div>
  </div>